<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Card Search Form</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/cards/general_cards.css') }}">
    </head>
    <body>
        <div class="bloque1">
            <div class="bloqueA">
                <!-- Table container -->
                <div class="container2 scroll-table"> <!-- Added 'scroll-table' class for scroll effect -->
                    <!-- Results table -->
                    <h1>List cards</h1>
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Game</th>
                                <th>Collection</th>
                                <th>Number</th>
                                <th>Price</th>
                            </tr>
                        </thead>
                        <tbody>
                             {% for card in cards %}
                            <tr>
                                <td>{{ card.name }}</td>
                                <td>{{ card.game }}</td>
                                <td>{{ card.collection }}</td>
                                <td>{{ card.number }}</td>
                                <td>{{ card.price }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- End of table container -->
            </div>
        <!-- Button to return to the main page -->
        <a href="/index-card" class="btn btn-primary">Back to Menu</a>
        </div>
    </body>
</html>
