<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Figure Show All</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/figures/general_figures.css') }}">
    </head>
    <body>
        <div class="bloque1">
            <div class="bloqueA">
                <!-- Table container -->
                <div class="container2 scroll-table">
                    <!-- Results table -->
                    <h1>Show Figures</h1>
                    <table>
                        <!-- Table headers -->
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Series</th>
                                <th>Price</th>
                                <th>Year</th>
                            </tr>
                        </thead>
                        <!-- Table body (will be dynamically filled with search results) -->
                        <tbody>
                            <!-- Figures will be dynamically filled here -->
                            {% for figures in result %}
                            <tr>
                                <td>{{ figures.name }}</td>
                                <td>{{ figures.series }}</td>
                                <td>{{ figures.price }}</td>
                                <td>{{ figures.year }}</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!-- End of table container -->
                <div class="button-container">
                    <a href="/index-figures" class="btn btn-primary">Back to Menu</a>
                </div>
            </div>
        </div>
    </body>
</html>
